DATABASE_URL="postgres://6302a0e1d9574260cb2d397fff4b77c9f52f029d295b7f6bf45d63f131133cd6:sk_4rAJjtZ8_ET4kL7a_-vk1@db.prisma.io:5432/postgres?sslmode=verify-full"
JWT_SECRET=super-secret-key-change-later
NODE_ENV=production

IMAGEKIT_PUBLIC_KEY=public_nmct26s8ltiuz0xvvWg7Hp/noxY=
IMAGEKIT_PRIVATE_KEY=private_8klXxD89rGi3+RjHWchXDOuIOJA=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/dbmi0wrjn2
# 
FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase/service-account.json
VERCEL=false